.head1{
    display: flex;
    width: 1280px;
height: 36px;
gap: 566px;
padding-left: 80px;
align-items: center;
}
.icon2{
    display: flex;
    gap:10px;
}

h2{
    font-weight: 700;
    font-size: 30px;
}
nav{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pic1{
    box-shadow: 30px 30px 0px #d3d3d3, 15px 15px 0px #fff;
}

.sun{
    font-size: 25px;
    padding-top: 6px;
}
.a{
    display: flex;
    gap: 20px;
}

.but1{
    background-color: rgba(17, 24, 39, 1);
    color: rgba(249, 250, 251, 1);
    border-radius: 13px;
    width: 136px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header2{
    margin-top: 100px;
    display:grid;
    gap: 330px;
    padding-left: 80px;
    grid-template-columns: repeat(2, 1fr);
    width: 1280px;
    height: 360px;

}

.text1{
    font-family: Inter;
font-weight: 700;
font-size: 60px;
line-height: 72px;
letter-spacing: -2%;
height: 10vh;
margin: 0;

}

.main1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 100px;
}

.m4{
    padding-right: 100px;
}

main{
    margin-top: 100px;
   padding-left: 100px;
    gap: 96px;
}

.m1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.icon{
    display: grid;
    gap:100px;
    grid-template-columns: repeat(8, 1fr);
}

.but2{
    width: 75px;
    height: 28px;
    border-radius: 12px;
    background-color: rgba(229, 231, 235, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgbc{
    background-color: rgba(249, 250, 251, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 576px;
    height: 480px;
}

.icon1{
    height: 100px;
    width: 69px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main2{
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-top: 50px;
}
.lac{
    border-radius: 12px;
    border: 3px solid rgb(80, 48, 48);
}

.block{
    display: flex;
    gap: 48px;
}

.block-child{
    padding-left: 48px;
}

.but-all{
  display:grid;
  grid-template-columns: repeat(5,1fr);
    gap: 10px;
}



body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}




footer{
    background-color: rgba(249, 250, 251, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 68px;
    margin-top: 80px;
}

.icon3{
    display: flex;
    gap: 95px;
}




@media (max-width:576px) {
  .icon{
    grid-template-columns: repeat(3, 1fr);
    padding-left: 0;
  }

  .icon div:nth-last-child(2) {
    grid-column: 1 / span 2; 
}

.header2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto; 
    justify-items: center; 
    gap: 70px;
    height: auto;
    padding-left: 0;
   text-align: center;
  }
.block{
    display: flex;
    flex-direction: column;
    width: 100%;
   padding-right: 50px;
}

.box1 { 
    order: 2; 
} 
.box2 { 
    order: 1; 
} 
  
footer{
    width: 100%;
}

.h22 {
    display: flex;
    justify-content: center; 
    order:1;
}

.m4{
    padding-left: 50px;
}

.main2{
    padding-right: 50px;
}

.pic1 {
    width: 80%; 
    max-width: 300px; 
}
 
.pic1{
    box-shadow: 30px 30px 0px #d3d3d3, 15px 15px 0px #fff;
}

.h11 {
    order:2;
  }

.but-all{
    grid-template-columns: repeat(2, 1fr);
    width: 30%;
   
}

  .head1{
    width: 100%;
    gap:-100px;
}

.none{
    display: none;
}


}

  