.br1{
    height: 10vh;
    background-color: #e6e6e6;
    display: flex;
    justify-content: center;
    gap:60px;
    align-items: center;
    width: 900px;
   
    
}

.caygory{
    display: flex;
    justify-content: center;
    gap:20px;
    align-items: center;
}

.picture{
    display: flex;
    align-items: center;
}

button{
    background-color: #8e949e;
    color: white;
    width: 80px;
    border:2px solid #8e949e;
    border-radius: 5px;
}

.lac{
    text-decoration: none;
    color: black;
}