.container{
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
}

.item1, .item2,.item3{
    display: grid;
    gap:10px;
    margin: 15px 0 15px 0;
}

.item1{
    grid-template-columns: repeat(2, 1fr);
    height: 10vh;
}

.item2{
    grid-template-columns: repeat(3, 1fr);
    height: 20vh;
}


.item3{
    grid-template-columns: repeat(4,1fr);
    height: 20vh;
}

.block1{
    background-color: #ffa437;
}

.block2{
    background-color: #4a89d0;
}

.block3{
    background-color: #e3e3e3;
}

header{
    width: 100%;
    height: 30vh;
    background-color: #daec00;
}

@media (max-width:1200px) {
    .item1,.item2{
        grid-template-columns: 1fr;
        height: 20vh;
    }

    .item3{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:768px) {
    .item1, .item2,.item3{
        grid-template-columns:1fr ;
        height: 20vh;
    }

    .item2{
        height: 60vh;
    }

    header{
        height: 15vh;
    }

    .item3{
        height: 60vh;
    }
}