.colorbr1{
    background-color: rgba(242, 242, 242, 1);
    width:600px;
    height:35vh;
    color:rgba(75,67,110,255);
}

.button1{
    border:none;
    background-color: red;
    color:white;
    border-radius: 5px;
    width:150px;
    height:5vh;
    margin-left: 10px;

}

.button2{
    border-radius: 5px;
    width:200px;
    height:5vh;
    margin-left: 20px;
  
}

body{
    padding: 20px;
}

p{
    align-items: center;
    display:inline-flex;
    margin:3px 0;
}


