.container{
    width: 100%;
    height: 200vh;
}

header, footer{
    width: 100%;
    height: 30vh;
    background-color: #a60162;
}

.item1, .item2{
    gap: 10px;
    margin: 10px 0 10px 0;
    display: grid;
}

.item1{
    grid-template-columns:repeat(4, 1fr);
    height: 20vh;
}

.item2{
    grid-template-columns: repeat(2, 1fr);
    height: 20vh;
}

.block1{
    background-color: #db317f;

}

.block2{
    background-color: #ed7bb8;
}

@media (max-width:1200px) {
    .item1{
        grid-template-columns: repeat(2, 1fr);
        height: 50vh;
    }

    .item2{
        grid-template-columns: 1fr;
        height: 50vh;
    }

  
   
}

@media (max-width:768px) {
    .item2, .item1{
        grid-template-columns:1fr;
        height: 60vh;
    }
    header,footer{
        height: 20vh;
    }

  
}

