h1{
    border: 3px solid;
    cursor: pointer;

}

details{
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    width: 300px;
}

body{
    width:200px;
}

details[open] {
    background-color: #f9f9f9;
}
