.block{
    background-color: #473d5b;
    height: 40vh;
    width:400px;
}

.color1{
    color:white;
    display:flex;
    margin:auto;
    justify-content:space-between;
    padding:20px;
}

.color2{
    color:white;
    padding-left: 20px;
    width:200px;    
}

input{
    border:2px solid white;
    border-radius: 5px;
    background-color: #473d5b;
   
}

textarea{
    border:2px solid white;
    border-radius: 5px;
    background-color: #473d5b;
   
}

button{
    margin:    20px;
    width:100px;
    background-color: white;
    height: 4vh;
    border-radius: 5px;
    color: #473d5b;
}

